/*Basic colors and styles*/
:root {
  --color-primary-background: #1a0b2e;
  --color-secondary-background: #230e3d;
  --color-text-white: #ffffff;
  --color-text-green: #00ff88;
  --color-gradient: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  --border-radius-box: 40px;
  --border-radius-btn: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  min-width: 440px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Typography */
::selection {
  color: var(--color-text-green);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary-background);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 20px;
  color: var(--color-text-white);
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 48px;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 39px;
}

h3 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 27px;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.8;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  h1 {
    font-size: 5rem;
    line-height: 65px;
  }

  h2 {
    font-size: 4rem;
    line-height: 48px;
  }

  h3 {
    font-size: 3.4rem;
    line-height: 28px;
  }
}

@media screen and (min-width: 993px) {
  h1 {
    font-size: 6rem;
    line-height: 73px;
  }

  h2 {
    font-size: 4.8rem;
    line-height: 58px;
  }

  h3 {
    font-size: 2.4rem;
    line-height: 29px;
  }

  p {
    line-height: 24px;
  }
}

/* Utility CSS - style */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid--cols-2 {
  grid-template-columns: 1fr 1fr;
}

/* Utility CSS - component */

a {
  text-decoration: none;
  color: var(--color-text-white);
  cursor: pointer;
}

.list {
  list-style: none;
  padding-left: 0;
}

.btn {
  border-radius: 10000px;
  border: 0;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 19px;
  outline: 0;
  padding: 1.2rem 1.6rem;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-gradient);
}

.btn--secondary {
  color: var(--color-text-green);
  border: 1px solid var(--color-text-green);
}

/* header */
.navbar {
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3rem;
  margin: 0 auto;
}

.nav__list {
  display: none;
  padding: 1.6rem 2rem;
}

.nav__btn {
  display: none;
}

.logo img {
  width: 14rem;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .logo img {
    width: 18rem;
  }

  .nav__list {
    display: flex;
    gap: 2.2rem;
  }

  .nav__btn {
    display: block;
  }

  .nav__btn::after {
    content: "-->";
    padding-left: 4px;
  }

  .menu-icon {
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .logo img {
    width: 22rem;
  }

  .nav__list {
    display: flex;
    gap: 3.2rem;
  }

  .nav__btn {
    display: block;
  }

  .nav__btn::after {
    content: "-->";
    padding-left: 4px;
  }

  .menu-icon {
    display: none;
  }
}

/* Hero */
.hero {
  border-top: 1px solid rgba(65, 37, 103, 1);
}

.hero-image {
  background-image: url(../images/hero-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.hero--bg-image {
  width: 100%;
  min-height: 50vw;
}

.hero--center-image {
  min-height: 32vw;
  background-image:
    url(../images/microphone.png), url(../images/hero-circle.png);
  background-position: center;
  background-size: 5%, 25%;
  background-repeat: no-repeat;
}

.badge {
  position: absolute;
  color: var(--color-primary-background);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.9rem;
  width: 5rem;
  height: 2rem;
  background-color: var(--color-text-green);
  padding: 0.1rem 1.5rem;
  border-radius: 1000px;
  top: 5%;
  right: 33%;
}

.hero-content {
  text-align: center;
  flex-direction: column;
  justify-self: center;
  gap: 0;
}

.hero-heading {
  margin-top: 4rem;
  margin-bottom: 0.8rem;
}

.hero-despription {
  margin-bottom: 2.4rem;
}

.hero-btn {
  justify-content: center;
  gap: 1rem;
}

.hero-btn .btn {
  gap: 1rem;
  width: fit-content;
}

.btn--icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .badge {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.9rem;
    width: 7rem;
    height: 3rem;
    background-color: var(--color-text-green);
    padding: 0.5rem 2rem;
    border-radius: 1000px;
    top: 10%;
    right: 36%;
  }
}

@media screen and (min-width: 993px) {
  .badge {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.9rem;
    width: 8rem;
    height: 4rem;
    background-color: var(--color-text-green);
    padding: 1rem 2.5rem;
    border-radius: 1000px;
    top: 10%;
    right: 39%;
  }
}

/* Section - Podcast */
.podcast {
  background-color: var(--color-primary-background);
  padding: 4rem 2rem;
  text-align: center;
}

.podcast-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 2rem 4rem 2rem;
}

.scorecard-heading {
  color: var(--color-text-green);
}

.scorecard-description {
  text-transform: uppercase;
}

@media screen and (min-width: 993px) {
  .podcast-scorecards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
